<div style="margin-left:37%;margin-top:50px;">
    <h2>Image Search</h2>
    <input type="text" maxlength="50" ng-model="searchText" placeholder="Search Image here">
    <button ng-click="searchImage(searchText)">Search</button>
</div>
<H3 style="margin-left:8%" ng-if="searchResult">Result for search: <i>{{searchResultFor}}<i></H3>
<div ng-repeat="url in searchResult">
    <div style="margin-left:8%">
        <img style="display:block; width:200px;height:200px;padding:20px;border:2px solid lightgray;float:left;margin-left: 2%;margin-right: 8px;margin-top: 8px;"
            src="{{url}}">
    </div>
</div>
<h5 style="display:block; width:357px;padding:30px;margin-left:32%;border:2px solid red ; color :red" ng-if="!isError">No Data Found
    <br />
    <br />
    <i style="color:black">Please try like: google, nature, mountain<i>
</h5>